.categorias-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; 
    padding: 20px;
}

.categoria-section {
    width: 100%;
}

.categoria-label {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.video-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #03122F;
    border: 2px solid #6BD1FF; 
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 0px 20px 5px #6BD1FF; 
}

